<%- include('header') -%>

<div class = "appli-fyrirsogn">
  <p>Atvinnuumsóknir</p>
</div>

<% appl.forEach((appl) => { %>
<div class = "umsokn">
  <div class = "umsokn-nafn">
    <strong><%= appl.nafn %></strong>
  </div>
  <div class = "umsokn-uppl">
    <div class = "umsokn-netfang">
      <p><%= appl.netfang %></p>
    </div>
    <div class = "umsokn-simi">
      <p>Sími: <%= appl.simi %></p>
    </div>
    <div class = "umsokn-timi">
      <p>Umsókn send: <%= appl.data %></p>
    </div>
  </div>
  <div class = "umsokn-texti">
    <p><%= appl.texti%></p>
  </div>
  <div class = "umsokn-takkar">
    <div class= "button">
      <button>Vinna umsókn</button>
    </div>
    <div class= "button">
      <form action="/applications/deleteFunction" method="get">
        <input id="<%= appl.id%>" type="hidden" name="id" value="<%= id%>">
        <button>Eyða umsókn</button>
      </form>
    </div>
  </div>
</div>
<% }) %>


<%- include('footer') -%>
